<h1>公仔達人</h1>

<section id="my-cart">
  <strong>你目前選購了 <span id="cart-total-qty"><%= current_cart.total_quantity %></span> 件商品，預計消費 <span id="cart-total"><%= current_cart.total %></span> 元
  </strong>
  <table>
    <tr>
      <th>商品</th>
      <th>單價</th>
      <th>數量</th>
      <th>小計</th>
    </tr>
    <% current_cart.cart_items.each do |item| %>
      <%= render partial: 'shared/item', locals: { item: item }%>
    <% end %>
  </table>
  <%= link_to '我要結帳！', new_order_path %>
</section>


<div class="container">	
	<div class="row">
		<% @products.each do |product| %>
			<div class="col-xs-6 col-md-3">
				<P><%= image_tag(product.file_location, :width => 50) %></P>
				<p><%= link_to product.name, product_path(product) %></p>
				<p>$<%= product.price %>
						<%= link_to '+', add_to_cart_product_path(product), :method => :post, :remote => true %></p>
			</div>
		<% end %>
	</div>
</div>

